<html>
<body>
<form action='sum' method='POST'>
Enter your name<input type='text' name='a'><br>
Enter your gender :<br><input type='radio' name='gender' value='male'>MALE<br>
<input type='radio' name='gender' value='female'>FEMALE<br>
<input type='radio' name='gender' value='ARUN DHABRAL'>ARUN DHABRAL<br>
Enter your course: <select name='course'>
<option  value='NULL'></option>
<option  value='python'>python</option>
<option  value='ML'>ML</option>
<option  value='AI'>AI</option>
</select> 
Enter your Email<input type='text' name='mail'><br>
Enter your phone<input type='text' name='phone'><br>
<input type='submit'>
</form>
</body>
</html>
